.main {
    min-height: 93vh;
    display: flex;
    align-items: center;         
    justify-content: center;
    background-image: url("C:\Users\User\Desktop\Проекты\MERN_TaskManager\frontend\src\images\Free Notebook Cliparts, Download Free Notebook Cliparts png images, Free ClipArts on Clipart Library.jfif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f0f2f5;
}
.title {
    font-size: 35px;
    font-weight: bold;
    color: #111;
    margin-bottom: 0.6rem;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.35);
}
.subtitle {
    font-size: 1.8rem;
    color: #262626;
    font-weight: 500;
}
.intro-text {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    max-width: 680px;
}